* {
    border: 0;
    padding: 0;
}

.header, 
.footer {
    text-align: center ;
}

.img {
    text-align: center;
}

.text {
    color: aqua;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    width: 110px;   
    margin-right: 5px;
    margin-left: 5px; 
}



